{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}

<h2 class="text-center fw-bold">Your Cart</h2>

<div class="row g-0 justify-content-start mt-3" style="margin-left: 100px;">
    {% for img,item in cart.items() %}
        <div class="col-6 col-md-3 mb-4" style="padding-top:50px;">
            <div class="h-100" style="width:15rem; height: 100%;">
                <a href="{{ item.url }}">
                    <img src="/static/{{ img }}"  class="card-img-top">
                </a>
                <div class="card-body d-flex flex-column justify-content-between" style="padding-top:20px ;">
                    <h5 class="card-text fw-bold">{{ item.description}}</h5>
                    <h5 class="card-text">{{ item.price}}$</h5>
                    <div class="d-flex align-items-center">
                        <form method="post" action="/cart/update" class="me-2">
                            <input type="hidden" name="img" value="{{ img }}">
                            <input type="hidden" name="action" value="minus">
                            <button class="btn btn-outline-dark">−</button>
                        </form>

                        <span class="fw-bold text-center">{{ item.qty }}</span>

                        <form method="post" action="/cart/update" class="ms-2">
                            <input type="hidden" name="img" value="{{ img }}">
                            <input type="hidden" name="action" value="plus">
                            <button class="btn btn-outline-dark">+</button>
                        </form>
                    </div>
                </div>
            </div>    
        </div>    
    {% endfor %}
</div>

<form class="position-relative" action="/clear-cart" method="post">
    <button  class="btn btn-danger position-absolute top-0 end-0" type="submit">
        Clear Cart
    </button>
</form>

{% endblock %}