{% extends "base.html" %}


{% block title %}Home{% endblock %}


{% block content %}

    <form class="d-flex align-items-center justify-content-center vh-100" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}

        <div class="glass-card">
            
        <h2 class="text-center mb-4"> Sign in</h2>

        <form>
            <div class="mb-3">
            {{ form.email(class="form-control", placeholder=form.email.label.text) }}
            </div>

            <div class="mb-3">
            {{ form.username(class="form-control", placeholder=form.username.label.text) }}
            </div>

            <div class="mb-3">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
            </div>

            <div class="mb-2 text-center">
                {{ form.submit(class="btn btn-primary")}}
            </div>

        </form>
        </div>

    </form>

{% endblock %}